body{
	border:none;
	margin:0;
}

#div_logo{
	display: inline-block;
    font-family: monospace;
    font-size: 36px;
}

#div_logo img{
	height:50px;
	margin-left:-10px;
}

#div_header{
	width:100%;
	height:80px;
	background-color:#eeeeee;
}

#div_header_top{
	width:75vw;
	height:50px;
	margin-left:12.5vw;
}

#div_header_center{
	display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
}

#div_submit{
	position:absolute;
	left:calc(87.5vw - 166px);
	top:8px;
}

#button_submit{
	font-family: "Source Code Pro","monaco","PT Mono","Courier",monospace;
	border:1px solid #333333;
	cursor:pointer;
	padding:8px;
	width: 150px;
    text-align: center;
	background-color:black;
	color:yellow;
}

#button_submit:hover{
	background-color:white;
	color:black;
	text-decoration:underline;
	font-weight:bold;
}

#div_submit a:link,
#div_submit a:active,
#div_submit a:visited{
	color:yellow;
	text-decoration: none;
}

/**
 * Menu
 */

#menu{
	font-family: "Source Sans Pro", sans-serif;
	font-size:17px;
	letter-spacing:1px;
	width:100%;
	background-color:black;
}

#menu_panel{
	width: 75vw;
    display: flex;
    margin-left: 12.5vw;
}

#menu_bar{
	height:38px;
	display:flex;
	width:25%;
}

.menu_item{
	color:white;
	float: left;
    padding: 8px 15px 6px 0px;
    text-decoration: none;
	cursor:pointer;
}

.menu_item:hover{
	color:#cccccc;
}

.menu_item a:link,
.menu_item a:active,
.menu_item a:visited{
	color:white;
	text-decoration: none;
}

.menu_item a:hover{
	color:#cccccc;
}

/**
 * Search
 */

#search_panel{
	display: inline-block;
    border-bottom: 1px solid #cccccc;
    height: 30px;
	width:50%;
}

#search_panel img{
	height: 18px;
    margin-top: 8px;
}

#text_search{
	 outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #efefef;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #efefef;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #efefef;
}

#search_panel input{
	vertical-align: top;
    margin-top: 4px;
    background-color: black;
    width: 380px;
    height: 26px;
    border-radius: 0px;
    border: none;
	color:#efefef;
	font-size:16px;
}

#div_bot_panel{
	width:75vw;
	min-height:80vh;
	margin-left:12.5vw;
	margin-top:10px;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	flex-wrap:wrap;
}

@media (max-width: 1280px){
#div_bot_panel{
	grid-template-columns: repeat(2, 1fr);
}
}

/**
 * Project Card
 */

.card_bot{
	width:360px;
	height:290px;
	border:1px solid #cdcdcd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 10px;
	margin-top:20px;
	
	font-family: "Noto Sans", sans-serif;
	color: rgb(82, 96, 105);
    font-size: 12px;
	cursor:pointer;
	display: inline-block;
}

.card_bot:hover{
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
	transition:all 0.3s ease;
	box-shadow: 2px 2px 10px; #efefef;
}

.card_bot_image{
	width:360px;
	height:172px;
}

.card_bot_image img{
	width:inherit;
}

.card_bot_name{
	font-size:16px;
	color:#222222;
	padding:0px 8px;
	margin-top:16px;
}

.card_bot_author{
	padding-left:8px;
}

.card_bot_description{
	padding:0px 8px;
	margin-top:10px;
	height:28px;
	text-overflow: ellipsis;
    line-height: 14px;
    word-wrap: break-word;
    overflow: hidden;
}

.card_bot_tags{
	padding:0px 8px;
	margin-top:6px;
	display:flex;
}

.card_bot_tag{
	font-size:11px;
	font-weight:bold;
	color:#888888;
	background-color:#dddddd;
	border-radius:5px;
	padding:2px 8px;
	margin-right:3px;
}

.div_git_repo{
	margin-top:10px;
}

/**
 * FOOTER
 */
 #footer{
	width:100%;
	height:20vh;
	margin-top:50px; 
	background-color:black;
	color:#efefef;
	font-family:Tahoma;
	letter-spacing: 0.05em;
	font-size:14px;
 }
 
 #footer_panel{
	width:75vw; 
	margin-left:12.5vw; 
	color:white;
	display:flex;
 }
 
 
 .footer_section_panel{
	margin-top:25px;
	width:300px;
	display:inline-block;
 }
 
.footer_section_title{
	font-weight:bold;
	margin-bottom:18px;
}

.footer_section_item{
	margin-bottom:10px;
}

.footer_section_item a:link,
.footer_section_item a:active,
.footer_section_item a:visited{
	color:#eeeeee;
	text-decoration: none;
}

.footer_section_item a:hover{
	color:yellow;
	text-decoration: underline;
}

 