<div id="footer">
	<div id="footer_panel">
		<!-- BotRepository -->
		<div class="footer_section_panel">
			<div class="footer_section_title">BotRepository</div>
			<div class="footer_section_item">
				<a href="submit.html">Submit a Bot</a>
			</div>
			<div class="footer_section_item">
				<a href="about.html">About</a>
			</div>
		</div>
		
		<!-- BotCity -->
		<div class="footer_section_panel">
			<div class="footer_section_title">BotCity</div>
			<div class="footer_section_item">
				<a href="https://www.botcity.dev">BotCity Automation Platofrm</a>
			</div>
			<div class="footer_section_item">
				<a href="https://developers.botcity.dev/portal">Developers Portal</a>
			</div>
			<div class="footer_section_item">
				<a href="https://community.botcity.dev">Forum</a>
			</div>
		</div>
		
		
		
		
	</div>

</div>
