<!-- Github. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- END - Github. -->
<div id="div_header">

	<div id="div_header_top">
		<div id="div_logo" style="width:30%">
			<a href="index.html"><img src="./images/logo.png"></img></a>
		</div>
		<div id="div_header_center">
			<div style="display:inline-block; vertical-align:top; height:30px; text-align:center;">
					<!-- Github Watch -->
					<a class="github-button" href="https://github.com/botcity-dev/bot-repository/subscription" data-size="large" data-show-count="true" aria-label="Watch botcity-dev/bot-repository on GitHub">Watch</a>
					<!-- Gitub - Star -->
					<a class="github-button" href="https://github.com/botcity-dev/bot-repository" data-size="large" data-show-count="true" aria-label="Star botcity-dev/bot-repository on GitHub">Star</a>
					<!-- Github - Fork -->
					<a class="github-button" href="https://github.com/botcity-dev/bot-repository/fork" data-size="large" data-show-count="true" aria-label="Fork botcity-dev/bot-repository on GitHub">Fork</a>
			</div>
		</div>

		<div id="div_submit">
			<a href="submit.html"><div id="button_submit">SUBMIT A BOT</div></a>
		</div>

	</div>

	<div id="menu">
			<div id="menu_panel">
				<div id="menu_bar">
					<div class="menu_item"><a href="index.html">Home</a></div>
					<div class="menu_item"><a href="https://www.botcity.dev" target="_blank">BotCity</a></div>
					<div class="menu_item"><a href="about.html">About</a></div>
				</div>

				<div id="search_panel">
					<img src="./images/icon-search.svg"></img>
					<input id="text_search" type="text" placeholder="Search technology, language, application"></input>
				</div>
			</div>

	</div>
</div>