name: Build Documentation

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - '**'
jobs:
  deploy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build Docs
        run: python build.py
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main' && github.repository == 'botcity-dev/bot-repository'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site-deploy/
